{% extends 'base.html.twig' %}

{% block head %}
<title>Arras games</title>
<link rel="icon" href="assets/images/icon.ico">
{% endblock %}
{% block body %}

{% block stylesheet %}
<style>
.paginator-navigation .page-link {
    color: #fc4040;  /* Texte rouge */
    background-color: transparent;  /* Fond transparent */
}

.paginator-navigation .page-link:hover {
    color: white;
    background-color: #fc4040;
}

.paginator-navigation .page-item.active .page-link {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.paginator-navigation .page-item.disabled .page-link {
    background-color: transparent;
    color: #fc4040;/
}
</style>
{% endblock %}

<div class="body_bg">
    {# SECTION @HEADER #}
    {% include "partials/_header.html.twig" %}

    {# SECTION @BANNIERE #}
    <section class="banner_part">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <section class="pricing_part padding_top">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div class="section_tittle text-center">
                                            <h2>Liste des transactions</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <table class="table">
                                    <thead class="text-danger">
                                        <tr>
                                        <th scope="col">Référence</th>
                                        <th scope="col">Prix</th>
                                        <th scope="col">Crédit</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Statut</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-white">
                                        {% for transac in transactions %}
                                            <tr>
                                                <th scope="row">{{transac.reference}}</th>
                                                <td>{{transac.totalprice}} €</td>
                                                <td>{{transac.amountcredit}} CR</td>
                                                <td>{{transac.date|date('d/m/y')}}</td>
                                                <td>{{transac.state}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>                                 
                                </div>
                                <div class="paginator-navigation d-flex justify-content-center mb-3">
                                        {{ knp_pagination_render(transactions, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
                                    </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# SECTION @FOOTER #}
    {% include "partials/_footer.html.twig" %}
</div>
{% endblock %}