{% extends 'base.html.twig' %}

{% block head %}
<title>Arras games</title>
<link rel="icon" href="assets/images/icon.ico">
{% endblock %}
{% block body %}
<div class="body_bg">
    {# SECTION @HEADER #}
    {% include "partials/_header.html.twig" %}

    {# SECTION @BANNIERE #}
    <section class="banner_part">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="banner_text">
                    <div class="banner_text_iner">
                    <div class="container">
                        {% for message in app.flashes('info') %}
                            <div class="alert alert-danger d-flex align-items-center justify-content-center">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                        <section class="pricing_part padding_top">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div class="section_tittle text-center">
                                            <h2>Boutique</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    
                                    {% if not boutique is same as ([]) %}
                                        {% for boutique in boutique %}
                                            <div class="col-lg-3 col-sm-6 mb-3">
                                                    <div class="single_pricing_part mb-3 h-100">
                                                    <div class="d-flex justify-content-center align-items-center">   
                                                        <h3 class="m-0 p-0">{{boutique.product}}</h3>
                                                    </div>
                                                        <ul>
                                                            <li style="color:white;">Montant : {{boutique.creditsAmount}} CR</li>
                                                            <li style="color:white;">Prix : {{boutique.price}} EUR</li>
                                                        </ul>
                                                        <a href="{{path('credit.buy', {id: boutique.id})}}" class="btn_2" onclick="Vous êtes sur le point de réaliser un achat. Etes-vous sur ?">Acheter</a>
                                                    </div>
                                                </div>
                                        {% endfor %}
                                    {% else %}
                                        <p>Une erreur est survenue.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# SECTION @FOOTER #}
    {% include "partials/_footer.html.twig" %}
</div>
{% endblock %}
